<app-navbar></app-navbar>

  <!-- Main Dashboard Content -->
   <html>
    <body>
  <div class="manager-dashboard">
    <h1>Welcome to the Manager Dashboard</h1>
    <p>Here you can manage tasks, users, and more.</p>
    <div>
      <button (click)="navigateToAddUser()">Add User</button>
      <button (click)="navigateToViewAllUsers()">View All Users</button>
    </div>
    <div>
      <button (click)="navigateToAddTask()">Add Task</button>
      <button (click)="navigateToViewAllTask()">View All Tasks</button>
    </div>
  </div>
</body>
</html>
